{% extends 'base.html.twig' %}

{% block title %}Dishes{% endblock %}

{% block body %}
<div class="container">

<h1 class="color text-center m-3">Manage Users</h1>
    
     <div class="container">
            <div class="main-body">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 gutters-sm ">
    {% for user in users %}

                    <div class="col mb-3 align-items-stretch">
                        <div class="card">
                            <div class="card-header bg-dark">&nbsp;</div>
                            <div class="card-body text-center">
                                <img src="img/users/{{user.avatar}}" style="width:100px;margin-top:-65px" alt="User"
                                    class="img-fluid img-thumbnail rounded-circle border-0 mb-3">
                                <h5 class="card-title">{{user.username}}</h5>
                                <p class="text-secondary mb-1">{{user.email}}</p>
                                
                            </div>
                            <div class="card-footer text-end">

                                <a href="/profile/{{user.id}}" class=" btn btn-outline-dark border-0"><i class="bi bi-pencil-fill"></i></a>
                                <a href="/remove/{{user.id}}" class=" btn btn-outline-dark border-0"><i class="bi bi-trash-fill"></i></a>
                           

                            </div>
                        </div>
                    </div>
                   

    {% endfor  %}
                </div>
            </div>
        </div>

</div>
{% endblock %}