{% extends 'base.html.twig' %}

{% block title %}Dishes{% endblock %}

{% block body %}
{% if app.user is null %}
       {% do redirect('/login') %}
    {% endif %}
<div class="container">
{% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    {% if app.user is null %}
    <!-- Then display your login form -->
{% else %}
    <!-- Display the normal view -->
{% endif %}

<a href="/create">Add Dish</a>
<h1 class="color text-center m-3">All Dishes</h1>
<a href="/profile/{{app.user.id}}" class="m-1 btn btn-primary">Profile</a>
    <div class="row">
    {% for dish in dishes %}

   <div class=" mb-5 col col-12 col-sm-12 col-md-6 col-lg-3 d-flex align-items-stretch">
            <div class="row g-1 container-fluid card shadow-lg bg-card-color">
            <div class="";>
            <img style="width:100%; height:220px; object-fit: cover;" src= "{{ asset( 'img/dishes/' ~ dish.image) }}" class="card-img-top img-fluid" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{dish.dish_name}}</h5>
              <hr>
              <p class="card-text">{{dish.description}}</p>
              <p class="card-text">{{dish.type}}</p>
              <a href="/edit/{{dish.id}}" class="m-1 btn btn-warning" >Edit</a>
              <a href="/delete/{{dish.id}}" class="m-1 btn btn-danger" onclick="return confirm('Are you sure you want to delete this?')" class="btn-grad2">Delete</a>
              <a href="/details/{{dish.id}}" class="m-1 btn btn-primary">Details</a>

            </div>
            </div>
            </div>
          </div>
    {% endfor  %}
</div>
</div>
{% endblock %}